div(class="p-4 m-2 form-control-lg")
    div(class="mb-4 input-group flex-nowrap")
        span(class="input-group-text" id="from-label")='from'
        input(id="from" class="form-control" type="text" name="from" required  maxlength="128" value=data.from)
        button(class="input-group-text" type="button" onclick="eraseValue('#from')" style="color: transparent;text-shadow: 0 0 0 black;")="❌"
    div(class="mb-4 input-group flex-nowrap")
        span(class="input-group-text" id="to-label")='to'
        input(id="to" class="form-control" type="text" name="to" required maxlength="128" aria-describedby="to-label" value=data.to)   
        button(class="input-group-text" type="button" onclick="eraseValue('#to')" style="color: transparent;text-shadow: 0 0 0 black;")="❌"
    div(class="mb-4")
        label(for="text" class="form-label")='message'
        textarea(id="text" class="form-control " type="text" name="text" required maxlength="2048" style="min-height: 10rem;")=data.text
    div(class="mb-5")   
        label(for="gif-search" class="form-label")="image (optional)"
        div(class="mb-4 d-flex justify-content-center align-items-center")
            button(class="btn btn-dark btn-lg flex-fill" type="button" onclick="openGifModal()" id="gif-search")="find gifs in tenor"
        //- div(class="input-group flex-nowrap mb-3")
            //- input(id="search-str" class="form-control" type="text" maxlength="32" aria-describedby="search-label" placeholder="search tenor")
        div(class="input-group flex-nowrap")
            span(class="input-group-text" id="imageInfo")='url'
            input(id="imageUrl" class="form-control" type="text" name="imageUrl" aria-describedby="imageInfo" maxlength="1024" value=data.imageUrl)
            button(class="input-group-text" type="button" onclick="eraseValue('#imageUrl')" style="color: transparent;text-shadow: 0 0 0 black;")="❌"
        //- div(id="imageInfo" class="form-text") intended to use urls from <a href='https://giphy.com' target='blank'>giphy.com</a>  - use the <strong>Copy GIF Link</strong> button behind the message icon and paste url here. can be any image url that allowes to be cross site loaded.
    div(class="mb-5")
        label(for="fixateForDays" class="form-label")='content lock'
        ul(class="fs-6 text")
            li=`${data.appTitle} links are not guessable - but shareable by coin or link`
            li=`unlocked content can be changed by every user with the entry opened in the browser`
            li=`to prevent others from changing your created content you can lock the content`
            li=`when locking an entry only you can unlock it afterwards (saved in your browser)`
            li=`to embrace recyling a ${data.appTitle} locking is not infinite`
        div(class="mb-2 input-group flex-nowrap")
            span(class="input-group-text" id="fixateForDays-label" for="fixateForDays")="lock content for"
            select(id="fixateForDays" class="form-select" aria-describedby="fixateForDays-label" type="number" name="fixateForDays" value=0)
                option(value=0 selected)='unlocked'
                option(value=1)="1 day"
                option(value=7)="1 week"
                option(value=30)="1 month"
                option(value=90)="3 months"
    if data.guid
        div(class="mb-4 d-flex justify-content-center align-items-center")
            input(type="submit" class="btn btn-dark btn-lg flex-fill" value="update")        
    else
        div(class="mb-4 d-flex justify-content-center align-items-center")
            input(type="submit" class="btn btn-dark btn-lg flex-fill" value="create")
